Source: blogilo
Section: kde
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Sune Vuorela <sune@debian.org>,
           Fathi Boudra <fabo@debian.org>,
           Modestas Vainius <modax@debian.org>,
           Michael Meskes <meskes@debian.org>,
           George Kiagiadakis <kiagiadakis.george@gmail.com>,
           Eshat Cakar <info@eshat.de>,
           Maximiliano Curia <maxy@debian.org>,
Build-Depends: cmake (>= 3.1~),
               debhelper (>= 9),
               pkg-config,
               pkg-kde-tools (>= 0.12),
Standards-Version: 4.1.0
Homepage: http://pim.kde.org/
Vcs-Browser: https://anonscm.debian.org/git/pkg-kde/applications/kdepim.git
Vcs-Git: https://anonscm.debian.org/git/pkg-kde/applications/kdepim.git

Package: blogilo
Section: web
Architecture: any
Breaks: kdepim-doc (<= 4:16.12.0), ${kde-l10n:all}
Replaces: kdepim-doc (<= 4:16.12.0), ${kde-l10n:all}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: graphical blogging client
 Blogilo is a Free/Open Source Blogging client, focused on simplicity and
 usability. Currently featured:
 .
  * A full featured WYSIWYG editor and an HTML editor.
  * Previewing your post with your blog style, like when you are visiting it at
    your blog.
  * Support for Blogger1.0, MetaWeblog, MovableType (Wordpress supports all of
    these) and Google GData (used on Blogspot.com blogs) APIs.
  * Support for creating/modifying/deleting posts.
  * Support for creating drafts and scheduled posts.
  * Support for uploading media files to your blog (only on supported APIs e.g.
    MetaWeblog and MovableType).
  * Support for fetching your recent blog entries.
  * Support for adding images to post from your system. It will upload them on
    Submitting post to blog (only on supported APIs e.g. MetaWeblog and
    MovableType).
  * Support for saving local entries before publishing.
  * Saving your writing copy to prevent data loss, at configurable intervals.
  * Internal auto spell checker. (KDE spell checker used so most of languages
    are supported.)
